<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Action</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div *ngIf="!isEditMode" class="modal-body">
    <!-- First row for Action Name and Menu -->
    <div class="row mb-3  ">

      <label class="col-sm-2 col-form-label">ActionName</label>
      <div class="col-sm-9">
        <select class="form-select" [(ngModel)]="actionObj.actionDisplayId" aria-label="Default select example">
          <option selected value="0">--Select--</option>
          <option value="{{menu.id}}" *ngFor="let menu of actionDisplayList">{{menu.name}}</option>
        </select>
      </div>

      <div class="col-sm-1">
        <button type="button" class="btn btn-outline-primary" (click)="addNewActionName(actiondisplaycontent)">+</button>

      </div>

    </div>
    <hr>
    <!-- Second row for Request Method, Method Name, and URL -->
    <div *ngFor="let action of actionsArray; let i = index" class="action-group">
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Request Method</label>
        <div class="col-sm-4">
          <select class="form-select" [(ngModel)]="action.requestMethod" aria-label="Default select example">
            <option selected value="">--Select--</option>
            <option value="GET">GET</option>
            <option value="PUT">PUT</option>
            <option value="POST">POST</option>
            <option value="DELETE">DELETE</option>
          </select>
        </div>
        <label for="inputPassword" class="col-sm-2 col-form-label">Method Name</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" [(ngModel)]="action.methodName" id="inputPassword">
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputPassword" class="col-sm-2 col-form-label">URL</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" [(ngModel)]="action.url" id="inputPassword">
        </div>
      </div>

      <!-- "Remove" button is hidden for the first set of fields -->
      <div class="row mb-3" *ngIf="i > 0">
        <div class="col-sm-12">
          <button type="button" class="btn btn-outline-danger" (click)="removeAction(i)">Remove</button>
        </div>
      </div>
      <hr>
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="addAction()">+</button>
  </div>
  <div *ngIf="isEditMode" class="modal-body">
    <!-- First row for Action Name and Menu -->
    <div class="row mb-3">

      <label class="col-sm-2 col-form-label">ActionName</label>
      <div class="col-sm-4">
        <select class="form-select" [(ngModel)]="actionObj.actionDisplayId" aria-label="Default select example">
          <option selected value="0">--Select--</option>
          <option value="{{menu.id}}" *ngFor="let menu of actionDisplayList">{{menu.name}}</option>
        </select>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-outline-primary" (click)="addNewActionName(actiondisplaycontent)">+</button>

      </div>
    </div>

    <!-- Second row for Request Method, Method Name, and URL -->
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Request Method</label>
      <div class="col-sm-4">
        <select class="form-select" [(ngModel)]="actionObj.requestMethod" aria-label="Default select example">
          <option selected value="">--Select--</option>
          <option value="GET">GET</option>
          <option value="PUT">PUT</option>
          <option value="POST">POST</option>
          <option value="DELETE">DELETE</option>
        </select>
      </div>
      <label for="inputPassword" class="col-sm-2 col-form-label">Method Name</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" [(ngModel)]="actionObj.methodName" id="inputPassword">
      </div>
    </div>

    <div class="row mb-3">
      <label for="inputPassword" class="col-sm-2 col-form-label">URL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="actionObj.url" id="inputPassword">
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveAction();">Save</button>
  </div>
</ng-template>

<ng-template #actiondisplaycontent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Action Display</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">


    
    <div class="row mb-3  ">

      <label class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticEmail" [(ngModel)] = "actionDisplayObj.name" value="">

      </div>



    </div>

    <!-- First row for Action Name and Menu -->
    <div class="row mb-3  ">

      <label class="col-sm-2 col-form-label">Menu</label>
      <div class="col-sm-10">
        <select class="form-select" [(ngModel)]="actionDisplayObj.menuId" aria-label="Default select example">
          <option selected value="0">--Select--</option>
          <option value="{{menu.id}}" *ngFor="let menu of menuList">{{menu.name}}</option>
        </select>
      </div>



    </div>
    <!-- Second row for Request Method, Method Name, and URL -->

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveActionDisplay();">Save</button>
  </div>
</ng-template>



<button class="btn btn-lg btn-outline-primary mt-3"
 style="float: right;" (click)="AddModal(content)">Add New Action</button>


  <!-- records -->

  <table class="table table-striped">
    <thead>
      <tr>
        
        <th scope="col">Name</th>
        <th scope="col">Menu</th>
        <th scope="col">Request Method</th>
        <th scope="col">Method Name</th>
        <th scope="col">Url</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let action of actionListDisplayed">
        <td >{{action.name}}</td>
        <td>{{action.menu}}</td>
        <td>{{action.requestMethod}}</td>
        <td>{{action.methodName}}</td>
        <td>{{action.url}}</td>
        <td (click)="EditModal(action,content)"><svg style="color: green;cursor:pointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg></td>
        <td (click)="DeleteAction(action.id)">
          <svg xmlns="http://www.w3.org/2000/svg" style="color: red;cursor:pointer" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      [maxSize]="3"
      [boundaryLinks]="true"
      [ellipses]="false"
      (pageChange)="refreshModuleList()"
    >
    </ngb-pagination>
  
    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshModuleList()">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>


          

