

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Menu</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <div class="mb-3 row mt-3">
      <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticEmail" [(ngModel)] = "menuObj.name" value="">
      </div>
    </div>
    <div class="mb-3 row mt-3">
      <label  class="col-sm-2 col-form-label">Module</label>
      <div class="col-sm-10" >
        <select class="form-select" aria-label="Default select example" 
         [(ngModel)] = "menuObj.moduleId" (change)="loadModuleMenus()">
          <option selected value="0">--Select--</option>
         <option value="{{module.id}}" *ngFor="let module Of moduleList">{{module.name}}</option>
          </select>
      </div>
    
    </div>

    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Is Active</label>
      <div class="col-sm-10">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  [(ngModel)] = "menuObj.isActive">
          <label class="form-check-label" for="defaultCheck1">
             
          </label>
      </div>
  </div>
  <div class="mb-3 row mt-3">
    <label for="staticEmail" class="col-sm-2 col-form-label">Url</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="staticEmail" [(ngModel)] = "menuObj.url" value="">
    </div>
  </div>

  <div class="mb-3 row mt-3">
    <label for="staticEmail" class="col-sm-2 col-form-label">Order Number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="staticEmail" [(ngModel)] = "menuObj.orderNumber" value="">
    </div>
  </div>

    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Is Main Parent</label>
      <div class="col-sm-10">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" 
          (click)="onMainParentCheck()" [(ngModel)] = "menuObj.isMainParent">
          <label class="form-check-label" for="defaultCheck1">
             
          </label>
      </div>
  </div>
    
    <div class="mb-3 row mt-3">
      <label  class="col-sm-2 col-form-label">Primary Parent</label>
      <div class="col-sm-10" >
        <select [disabled]="menuObj.isMainParent"
         class="form-select" aria-label="Default select example"
           [(ngModel)] = "menuObj.primaryParentMenuId" (change)="onPrimaryParentChange()" >
          <option selected value="null">--Select--</option>
          <option value="{{menu.id}}" *ngFor="let menu Of primaryParentList">{{menu.name}}</option>
        </select>
      </div>
    
    </div>

    <!-- <div class="mb-3 row mt-3">
      <label class="col-sm-2 col-form-label">Secondary Parent</label>
      <div class="col-sm-8">
        <ng-select [disabled]="menuObj.isMainParent"
         [items]="seconddaryParentList" 
        bindLabel="name" 
        bindValue="id" 
        [(ngModel)]="menuObj.secondaryParentMenuIds"
        [multiple]="true"
        [closeOnSelect]="false"
        (change)="itemSelected($event)"
        >
        </ng-select>
        

      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-outline-primary" (click)="addNewParent(secondarycontent)">+</button>

      </div>
    
    </div> -->
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="saveMenu();">Save</button>
	</div>
</ng-template>

<!-- <ng-template #secondarycontent let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Menu</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <div class="mb-3 row mt-3">
      <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="staticEmail" [(ngModel)] = "secondarymenuObj.name" value="">
      </div>
    </div>
    <div class="mb-3 row mt-3">
      <label  class="col-sm-2 col-form-label">Module</label>
      <div class="col-sm-10" >
        <select class="form-select" aria-label="Default select example" 
         [(ngModel)] = "secondarymenuObj.moduleId" (change)="loadModuleMenus()">
          <option selected value="0">--Select--</option>
         <option value="{{module.id}}" *ngFor="let module Of moduleList">{{module.name}}</option>
          </select>
      </div>
    
    </div>

    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Is Active</label>
      <div class="col-sm-10">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"  [(ngModel)] = "secondarymenuObj.isActive">
          <label class="form-check-label" for="defaultCheck1">
             
          </label>
      </div>
  </div>
  <div class="mb-3 row mt-3">
    <label for="staticEmail" class="col-sm-2 col-form-label">Url</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="staticEmail" [(ngModel)] = "secondarymenuObj.url" value="">
    </div>
  </div>
  <div class="mb-3 row mt-3">
    <label for="staticEmail" class="col-sm-2 col-form-label">Order Number</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="staticEmail" [(ngModel)] = "secondarymenuObj.orderNumber" value="">
    </div>
  </div>

    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Is Main Parent</label>
      <div class="col-sm-10">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" 
          (click)="onMainParentCheck()" [(ngModel)] = "secondarymenuObj.isMainParent">
          <label class="form-check-label" for="defaultCheck1">
             
          </label>
      </div>
  </div>
    
    <div class="mb-3 row mt-3">
      <label  class="col-sm-2 col-form-label">Primary Parent</label>
      <div class="col-sm-10" >
        <select [disabled]="secondarymenuObj.isMainParent"
         class="form-select" aria-label="Default select example"
           [(ngModel)] = "secondarymenuObj.primaryParentMenuId" (change)="onPrimaryParentChange()" >
          <option selected value="null">--Select--</option>
          <option value="{{menu.id}}" *ngFor="let menu Of primaryParentList">{{menu.name}}</option>
        </select>
      </div>
    
    </div>

    <div class="mb-3 row mt-3">
      <label class="col-sm-2 col-form-label">Secondary Parent</label>
      <div class="col-sm-10">
        <ng-select [disabled]="secondarymenuObj.isMainParent"
         [items]="seconddaryParentList" 
        bindLabel="name" 
        bindValue="id" 
        [(ngModel)]="secondarymenuObj.secondaryParentMenuIds"
        [multiple]="true"
        [closeOnSelect]="false"
        (change)="itemSelected($event)"
        >
        </ng-select>
        

      </div>

    
    </div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="saveSecondaryMenu();">Save</button>
	</div>
</ng-template> -->

<button class="btn btn-lg btn-outline-primary mt-3"
 style="float: right;" (click)="AddModal(content)">Add New Menu</button>


  <!-- records -->


  <table class="table table-striped">
    <thead>
      <tr>
        
        <th scope="col">Name</th>
        <th scope="col">Module</th>
        <th scope="col">ParentMenu</th>
        <th scope="col">Url</th>
        <th scope="col">IsActive</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let menu of menuListDisplayed">
        <td>{{menu.name}}</td>
        <td>{{menu.module}}</td>
        <td> 
          {{ menu.primaryParentMenu }}
          <span *ngIf="menu.primaryParentMenu && menu.secondaryParentMenus">, </span>
          {{ menu.secondaryParentMenus }}
        </td>
        <td>{{menu.url}}</td>
        <td>{{menu.isActive}}</td>
        <td (click)="EditModal(menu,content)"><svg style="color: green;cursor:pointer" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg></td>
        <td (click)="DeleteMenu(menu.id)">
          <svg xmlns="http://www.w3.org/2000/svg" style="color: red;cursor:pointer" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
          </svg>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      [maxSize]="3"
      [boundaryLinks]="true"
      [ellipses]="false"
      (pageChange)="refreshMenuList()"
    >
    </ngb-pagination>
  
    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshMenuList()">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>


          

