<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="modules">Modules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="menus">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="actiondisplay">Action Display</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="actions">Action</a>
      </li>



    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
</div>